.col-md-6
	.panel.panel-primary
		.panel-heading
			%h1 Resultaten van de Quiz
		.panel-body
			.row
				.nav
					%a < menu
					%h5.pull-right hoofdstuk 1 - Hoe leren leerlingen?
			.row
				.h4 Resultaten
			.row	
				- @result.each do |r|
					- if r.correct == true

						= link_to "#{r.question_id}", result_path(r), class: "result-button"

					- else

						= link_to "#{r.question_id}", result_path(r), class: "result-button red"