.form-group	
	= f.text_field :body, class: "form-control", placeholder: "Antwoord A"
.form-group			
	= f.text_field :body, class: "form-control", placeholder: "Antwoord B"
.form-group			
	= f.text_field :body, class: "form-control", placeholder: "Antwoord C"
.form-group			
	= f.text_field :body, class: "form-control", placeholder: "Antwoord D"
