.col-md-4
	.panel.panel-primary
		.panel-heading 4. Hoofdstuk keuze
		.panel-body
			.row
				.nav
					%a=link_to "< menu", root_path
			.row
				=image_tag "QuizLogo_110-50px-150dpi.png", class: "logo"
			.row
				=link_to "Hoofdstuk 1", root_path, class: "true"
				-#=link_to root_path, remote: true do
				-#	%input{:type=>"button", class: "true", value: "Hoofdstuk 1"}
			.row
				=link_to "Hoofdstuk 2", root_path, class: "true"
				-#%input{:type=>"button", class: "not-available", value: "Hoofdstuk 2"}
			.row
				-#%input{:type=>"button", class: "not-available", value: "Hoofdstuk 3"}
			.row
				-#%input{:type=>"button", class: "not-available", value: "Hoofdstuk 4"}
