%br
.col-md-6
	.panel.panel-primary
		.panel-heading 
			%b Nieuw hoofdstuk toevoegen
		.panel-body
			= form_for [:admin, chapter] do |f|
				.form-group
					= f.text_field :body, class: "form-control", placeholder: "bijv. Hoofdstuk 1"
				.form-group
					= f.submit 'Opslaan', class: "btn btn-primary pull-right"

