.panel.panel-primary
	.panel-heading Nieuw hoofdstuk toevoegen
	.panel-body
		= form_for [:admin, chapter], html: { class: "form-inline"} do |f|
			.form-group
				= f.label :body, 'Hoofdstuk', class: "sr-only"
				.input-group
					.input-group-addon Hoofdstuk
					= f.text_field :body, class: "form-control", placeholder: "bijv. Hoofdstuk 1"

			= f.submit 'Opslaan', class: "btn btn-primary"

