%h1 Overzicht hoofdstukken
= link_to "Nieuw hoofdstuk toevoegen", new_admin_chapter_path, class: "btn btn-primary"
.row
	.col-md-12
		%br
.panel.panel-info
	.panel-heading 
		%b Alle hoofdstukken
	%table.table.table-striped
		- @chapter.each do |c|
			%tr
				%td.col-md-12= c.body
				%td.col-md-0= link_to "Bewerken", edit_admin_chapter_path(c), class: "btn btn-warning"
				%td.col-md-0= link_to 'Verwijderen', admin_chapter_path(c), method: :delete, data: {confirm: 'Zeker weten?'}, class: 'btn btn-danger'

